body{
    margin:0;
    background-image: url(./images/ima.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock{
    font-size: 6.5em;
    font-family: monospace;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: hsla(0,0%,100%,0.3);
    width: 100%;
}