body{
    text-align: center;
}

label{
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 9px;
}

input{
    text-align: center;
    margin-right: 7px;
    font-size: 1.6rem;
    width: 150px;
}

button{
    font-size: 1.2rem;
    background-color: rgb(36, 126, 210);
    border-radius: 3px;
    transition: background-color 2s, transform 2s;
    cursor: pointer;
}

button:hover{
     background-color: rgb(3, 62, 75);
     transform: rotate(180deg);
}

#result-values{
    margin:25px;
    font-size: 50px;
}
#result-images img{
    width: 150px;
    margin: 5px;
}
