

#container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#input
{
    width: 60%;
    font-size: 1.7rem;
    border-radius: 5px;
    border: 2px solid rgb(62, 61, 61);
    margin: 40px 5px;
    color: rgb(63, 63, 63);
    padding: 3px;
}

button{
    font-size: 1.7rem;
    border-radius: 5px;
    background-color: rgb(96, 188, 96);
    box-shadow: 0 0 0 3px #259e0d;
    border: none;
    margin-left: 6px;
}

#card{
    background: linear-gradient(180deg,rgb(72, 174, 222),rgb(230, 157, 114));
    min-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.city{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0;
}

.temp{
    font-size: 2rem;
    font-weight: bold;
    margin:2px;
}

.humid{
    font-size: 1.1rem;
    font-weight: bold;
}

.condition{
    font-size: 20px;
    font-style: italic;
}

.emoji{
    margin: 1px;
    font-size: 6rem;
}

.errorDisplay{
    font-size: 2rem;
    font-weight: bold;
}

